<div style="width: 100%" (click)="buyTemplate()">
    <picture>
        <source srcset="https://warehouse.pusudo.cn/introduction/delicacy-map-375.jpg" media="(max-width: 600px)">
        <source srcset="https://warehouse.pusudo.cn/introduction/delicacy-map-768.jpg" media="(max-width: 1024px)">
        <img src="https://warehouse.pusudo.cn/introduction/delicacy-map-1280.jpg" alt="diandi" style="width: 100%">
        <!--<source srcset="../../assets/delicacy-map-375.jpg" media="(max-width: 600px)">-->
        <!--<source srcset="../../assets/delicacy-map-768.jpg" media="(max-width: 1024px)">-->
        <!--<img src="../../assets/delicacy-map-1280.jpg" alt="diandi" style="width: 100%">-->
    </picture>
</div>